@font-face {
    font-family: "TT Lakes";
    font-weight: medium;
    font-style: normal;
    src: local("TT Lakes"),
        url("/fonts/TTLakes-Medium.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes";
    font-weight: bold;
    font-style: normal;
    src: local("TT Lakes"),
        url("/fonts/TTLakes-Bold.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    width: 768px;
    font-family: 'TT Lakes', "Arial", sans-serif;
}

.nav-wrapper {
    width: 320px;
    padding-bottom: 32px;
    background-color: #FFFFFF;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2),
                -2px 0px 4px rgba(69, 79, 126, 0.02);
}

/* ----- Upper-menu ----- */

.upper-menu {
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    height: 86px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.upper-menu__logo {
    width: 97px;
    height: 51px;
    margin-right: auto;
    margin-left: 16.73px;
    position: relative;
    top: 1px;
    left: -1px;
    transition: opacity 0.2s ease-in-out;
}

.upper-menu__logo:hover {
    opacity: 0.5;
}

.upper-menu__icon {
    width: 40px;
    height: 40px;
}

.upper-menu__button {
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color:#FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.upper-menu__button:hover {
    opacity: 0.5;
    transform: scale(1.2);
}

/* ------ Navigation ------  */

.nav__container {
    min-height: 684px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 18px;
    padding-left: 24px;
}

.nav__item {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

.nav__item:hover {
    opacity: 0.5;
}

.nav__link {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.nav__link--active {
    color: #7E7E82;
}

.nav__link--active::before {
    position: absolute;
    top: 12px;
    left: -24px;
    content: url("/icons/highlight_w4_h32.png");
}

/* ------ Contacts ------  */

.contact {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 40px;
}

.contact__icon-list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.contact__icon-item {
    margin-right: 16px;
    width: 40px;
    height: 40px;
}

.contact__button {
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color:#FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.contact__button:hover {
    opacity: 0.5;
    transform: scale(1.2);
}

.contact__email {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-bottom: 12px;
}

.contact__phone {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
}

/* ------ Languages ------  */

.languages {
    padding-left: 24px;
    list-style-type: none;
    display: flex;
}

.languages__button {
    padding: 0;
    margin-right: 7px;
    border: none;
    background-color: #FFFFFF;
    color: #1B1C21;
    font-family: 'TT Lakes', "Arial", sans-serif;
    font-size: 16px;
    font-weight: medium;
    vertical-align: top;
    line-height: 24px;
    letter-spacing: -0.2px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.languages__button--current {
    color: #7E7E82;
}

.languages__button:hover {
    opacity: 0.5;
    transform: scale(1.2);
}